# NAIVE BAYES 
p(NORMAL/HEY THERE) = P(NORMAL) P(HEY/NORMAL) P(THERE/NORMAL)

1.Multinomial Naive Bayes - Widely used classifier for document classification which keeps the count of frequent words present in the documents.

2.Bernoulli Naive Bayes - Used for discrete data, where features are only in binary form. (Discrete data =[ 1,2,3,4,5,6,7,8,9,10], shown as point in graphs discrete, example- rolling a die can give only =[1,2,3,4,5,6], or a coin = [H, T] has only fixed values). [All features have binary attributes]

3.Gaussian Naive Bayes - Used when we are dealing with continuous data and uses Gaussian distribution. (Continous data =[1<x<10], shown as continous figure in graphs, example- tempreture can take any value, or height can take any value, it doesnt have fixed values. [in dataset, if there are features which have discrete value, we neglect them, we use only continous features])

# Assumptions made for Naive Bayes Classifier:
Attributes are independent of each other and does not affect each others performance, this is the reason it is called 'naive'

In [1]:
import pandas as pd
import numpy as np

In [2]:
columns = np.arange(1,58)
columns = np.append(columns,'labels')
print(columns)

['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' 'labels']

In [3]:
df = pd.read_csv('spambase.data', sep=",",names=columns,index_col=False)

In [4]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,49,50,51,52,53,54,55,56,57,labels
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

from the documentation of data we found that each attribute is a continous type of attribute, hence we should use gaussian naive bayes, but we will check every model, bernoulli can binarize the data, and as these data are given so can use multinomial also, we will check for all of them, and get the best fitted model, but by intuation, gaussian can be applied directly

In [5]:
Y_df = df['labels']
Y_df.head()

0    1
1    1
2    1
3    1
4    1
Name: labels, dtype: int64

In [6]:
X_df = df.drop('labels',axis=1)
X_df.head()

,1,2,3,4,5,6,7,8,9,10,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191

# Standardization

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
scaler.fit(X_df)

C:\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1673: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

StandardScaler()

In [10]:
scaled_feat = scaler.transform(X_df)

C:\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1673: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

In [11]:
X_df_transformed = pd.DataFrame(scaled_feat, columns= df.columns[:-1])
X_df_transformed.head()

,1,2,3,4,5,6,7,8,9,10,...,48,49,50,51,52,53,54,55,56,57
0,-0.342434,0.330885,0.712859,-0.0469,0.011565,-0.350266,-0.291794,-0.262562,-0.323302,-0.371364,...,-0.111546,-0.158453,-0.514307,-0.155198,0.624007,-0.308355,-0.103048,-0.045247,0.045298,-0.008724
1,0.345359,0.051909,0.435130,-0.0469,-0.256117,0.672399,0.244743,-0.088010,-0.323302,1.086711,...,-0.111546,-0.158453,-0.026007,-0.155198,0.126203,0.423783,0.008763,-0.002443,0.250563,1.228324
2,-0.145921,-0.165072,0.851723,-0.0469,1.364846,0.343685,0.193644,0.036670,1.974017,0.016422,...,-0.111546,-0.117376,0.014684,-0.155198,0.008496,0.440053,-0.079754,0.145921,2.221106,3.258733
3,-0.342434,-0.165072,-0.556761,-0.0469,0.472573,-0.350266,0.500237,1.308402,0.789462,0.605857,...,-0.111546,-0.158453,-0.007511,-0.155198,-0.161934,-0.308355,-0.103048,-0.052150,-0.062466,-0.152222
4,-0.342434,-0.165072,-0.556761,-0.0469,0.472573,-0.350266,0.500237,1.308402,0.789462,0.605857,...,-0.111546,-0.158453,-0.014910,-0.155198,-0.164387,-0.308355,-0.103048,-0.052150,-0.062466,-0.152222

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_df_transformed,df['labels'], test_size=0.20)

# Gaussian

In [15]:
from sklearn.naive_bayes import GaussianNB 
classifier = GaussianNB()
classifier.fit(X_train,Y_train)

C:\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1673: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

GaussianNB()

In [16]:
y_pred = classifier.predict(X_test)

C:\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1673: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str_']. An error will be raised in 1.2.
  warnings.warn(

In [18]:
from sklearn.metrics import classification_report, confusion_matrix

In [21]:
print(confusion_matrix(Y_test, y_pred))

[[402 157]
 [ 23 339]]

In [22]:
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.72      0.82       559
           1       0.68      0.94      0.79       362

    accuracy                           0.80       921
   macro avg       0.81      0.83      0.80       921
weighted avg       0.84      0.80      0.81       921